@model MojeFakture.ViewModels.StavkaFormViewModel
@{

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@Model.Title</h2>
<br />
<br />

@using (Html.BeginForm("Save", "Stavke"))
{
    <div class="form-group">
        <label>Naziv</label>
        @Html.TextBoxFor(f => f.Stavka.Naziv, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stavka.Naziv)
    </div>

    <div class="form-group">
        <label>Jedinična cijena</label>
        @Html.TextBoxFor(f => f.Stavka.JedinicnaCijena, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stavka.JedinicnaCijena)
    </div>

    @Html.HiddenFor(m => m.Stavka.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">
        Spremi
    </button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}